<html lang="en">
<head>
{% load staticfiles %}
  <meta charset="utf-8">
  <title>Climate Change</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-responsive.min.css' %}">
  <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.js' %}"></script>

  <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
  
  <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/page.css' %}" />

  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8" type="text/javascript"></script>

  <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">

  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>

  <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <!--script src="http://code.jquery.com/jquery-2.1.4.min.js"></script-->
  <script src="{% static 'node_modules/topojson/node_modules/d3/d3.js' %}"></script>
  <script src="{% static 'node_modules/d3-geo-projection/d3.geo.projection.js' %}"></script>
  <script src="{% static 'node_modules/topojson/build/topojson.js' %}"></script>

  <link href='https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.css' rel='stylesheet' type='text/css'/>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">


  <style type="text/css">  
        svg {
          font: 10px sans-serif;
        }
        .area {
          fill: #80aaff;
          clip-path: url(#clip);
        }
        .axis path,
        .axis line {
          fill: none;
          stroke: #000;
          shape-rendering: crispEdges;
        }
        .grid-background {
          fill: #ddd;
        }
        .grid line,
        .grid path {
          fill: none;
          stroke: #fff;
          shape-rendering: crispEdges;
        }
        .grid .minor.tick line {
          stroke-opacity: .5;
        }
        .brush .extent {
          stroke: #fff;
          fill-opacity: .125;
          shape-rendering: crispEdges;
          clip-path: url(#clip);
        }
        rect.pane {
          cursor: move;
          fill: none;
          pointer-events: all;
        }
        .tick line{
          opacity: 0.2;
        }
        .line{
           fill: none;
           stroke:  #80aaff;
           stroke-width: 2px;
        }
        .button {
           color: #595959;
        }
        .p {
           color: #595959;
        }

        .legend {
          line-height: 18px;
          color: #555;
        }
        .legend i {
          width: 18px;
          height: 18px;
          float: left;
          margin-right: 8px;
          opacity: 0.7;
        }
        .infoL {
          padding: 6px 8px;
          /*font: 14px/16px Arial, Helvetica, sans-serif;*/
          background: white;
          background: rgba(255,255,255,0.8);
          box-shadow: 0 0 15px rgba(0,0,0,0.2);
          border-radius: 5px;
        }
        .infoL h4 {
            margin: 0 0 5px;
            color: #777;
        }         
              
           
  </style>
</head>
<body>

  <ul class="nav nav-tabs" id = "tab">
        <li class="active">
            <a href="#">Home</a>
        </li>
        <li>
            <a href="#">Page2</a>
        </li>
        <li>
            <a href="#">Page3</a>
        </li>
  </ul>

   

  <div id="section1" class="container-fluid">
      <div class="row-fluid">
        <!--div class="span2" id = "slider-3"></div-->
        <div class="span1" id = "map_p"></div>

        <!--div class="span3" id = "slider-4"></div-->
        <div class="span2" id = "map"></div>
        <div class="span3" id = "des_map"></div>
        <div class="span10" id = "tool">
        </div>
        <div class="span5" id = "map2"></div>

        <div class="span7" id = "tool_area3">
            <label for="map3" id="lable_map3"> </label>
            <div class="span11" id = "map3"></div>
        </div> 
        
          <div class="span8" id="tool_area1">
                 <label for="lon" id="lable_lon">lon range:</label>
                 <input name="lon1" type="text" id="lon">
                 <!--input name="lon2" type="text" id="lon2"-->
                 <label for="lat" id="lable_lat">lat range:</label>
                 <input name="lat1" type="text" id="lat">
                 <!--input name="lat2" type="text" id="lat2"-->
            <input Type="submit" name="submit" id="submit" value="save" class="button">
           </div>
           <div class="span9" id="tool_area2">
                 <label for="vars" id="lable_vars">variable:</label>
                 <select class="selectpicker"id="vars" style="color:gray" onchange="ChangeCarList()">
                    <option value=" " selected></option>
                    <option value="1">Temperature</option>
                    <option value="2">Precipitation </option>
                 </select>
                 <label for="cindex" id="lable_index">climate index:</label>
                 <select id="cindex" style="color:gray">
                </select>
                   
           </div>   
       
        <!--div class="span6" id = "slider-4"></div-->
        <!--div id = "slider-3"></div-->

      </div>
  </div>
 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.4.9/d3.min.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
  <!--label-->
  <!--script src="http://code.jquery.com/jquery-2.1.0.min.js"></script-->
  <!--script src="{% static 'map/L.D3SvgOverlay.min.js' %}"></script>
  <script src="{% static 'map/vitualLf.js' %}"></script-->

  <script type="text/javascript">
      var carsAndModels = {};
      carsAndModels['1'] = ['su', 'fd', 'id','tr','gsl','wsdi','csdi','dtr','txx','tnx','txn','tnn','tn10p','tx10p','tn90p','tx90p'];
      carsAndModels['2'] = ['rx1day', 'rx5day', 'sdii', 'r10mm','r20mm','rnnmm','cdd','cwd','r95ptot','r99ptot','prcptot'];
    
      function ChangeCarList() {
          var carList = document.getElementById("vars");
          var modelList = document.getElementById("cindex");
          var selCar = carList.options[carList.selectedIndex].value;
          while (modelList.options.length) {
              modelList.remove(0);
          }
          var cars = carsAndModels[selCar];
          if (cars) {
              var i;
              for (i = 0; i < cars.length; i++) {
                  var car = new Option(cars[i], i);
                  modelList.options.add(car);
              }
          }
      } 

///////////////////////////////////////////////////////////////////////////
//////////////////// Plot Graph Average Max Min ///////////////////////////
/////////////////////////////////////////////////////////////////////////// 
        function getCookie(name) {
               var cookieValue = null;
               if (document.cookie && document.cookie != '') {
                 var cookies = document.cookie.split(';');
                 for (var i = 0; i < cookies.length; i++) {
                 var cookie = jQuery.trim(cookies[i]);
                 // Does this cookie string begin with the name we want?
                 if (cookie.substring(0, name.length + 1) == (name + '=')) {
                     cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                     break;
                  }
             }
         }
         return cookieValue;
        }
        function data(data,index,vars){
             // document.getElementById("map_p").innerHTML = index+data['path_file'];
             d3.select("#map").selectAll("svg").remove();
             d3.select("#map2").selectAll("svg").remove();
             d3.select("#map3").selectAll("svg").remove();
             document.getElementById("des_map").innerHTML = "";
             select_var(data['path_file'],vars,index);
        }
        function select_var(data,x,y){
                       //document.getElementById("demo").innerHTML = z;
                     if(x==1&&y=='txx'){
                        chart_clim(data,"Celsius",' Monthly maximum value of daily maximum temperature');
                        document.getElementById("des_map").innerHTML = "Monthly maximum value of daily maximum temperature:Let TXx be the daily maximum temperatures in month k, period j. The maximum daily maximum temperature each month is then:TXxkj=max(TXxkj) ";
                      }else if(x==1&&y=='tnx'){
                        chart_clim(data,"Celsius",' Monthly maximum value of daily minimum temperature');
                        document.getElementById("des_map").innerHTML = "Monthly maximum value of daily minimum temperature:Let TNx be the daily minimum temperatures in month k, period j. The maximum daily minimum temperature each month is then:TNxkj=max(TNxkj) ";
                      }else if(x==1&&y=='txn'){
                        chart_clim(data,"Celsius",' Monthly minimum value of daily maximum temperature');
                        document.getElementById("des_map").innerHTML = "Monthly minimum value of daily maximum temperature:Let TXn be the daily maximum temperatures in month k, period j. The minimum daily maximum temperature each month is then: TXnkj=min(TXnkj) ";
                      }else if(x==1&&y=='tnn'){
                        chart_clim(data,"Celsius",' Monthly minimum value of daily minimum temperature');
                        document.getElementById("des_map").innerHTML = "Monthly minimum value of daily minimum temperature: Let TNn be the daily minimum temperatures in month k, period j. The minimum daily minimum temperature each month is then: TNnkj=min(TNnkj) ";
                      }else if(x==1&&y=='tn10p'){
                        chart_clim(data,"Percentage",' Percentage of days when TN < 10th percentile');
                        document.getElementById("des_map").innerHTML = "Percentage of days when TN < 10th percentile : Let TNij be the daily minimum temperature on day i in period j and let TNin10 be the calendar day 10th percentile centred on a 5-day window for the base period 1961-1990. The percentage of time for the base period is determined where: TNij < TNin10 ";
                      }else if(x==1&&y=='tx10p'){
                        chart_clim(data,"Percentage",' Percentage of days when TX < 10th percentile');
                        document.getElementById("des_map").innerHTML = "Percentage of days when TX < 10th percentile : Let TXij be the daily maximum temperature on day i in period j and let TXin10 be the calendar day 10th percentile centred on a 5-day window for the base period 1961-1990. The percentage of time for the base period is determined where: TXij < TXin10 ";
                      }else if(x==1&&y=='tn90p'){
                        chart_clim(data,"Percentage",' Percentage of days when TN > 90th percentile');
                        document.getElementById("des_map").innerHTML = "Percentage of days when TN > 90th percentile : Let TNij be the daily minimum temperature on day i in period j and let TNin90 be the calendar day 90th percentile centred on a 5-day window for the base period 1961-1990. The percentage of time for the base period is determined where: TNij > TNin90 ";
                      }else if(x==1&&y=='tx90p'){
                        chart_clim(data,"Percentage",' Percentage of days when TX > 90th percentile');
                        document.getElementById("des_map").innerHTML = "Percentage of days when TX > 90th percentile : Let TXij be the daily maximum temperature on day i in period j and let TXin90 be the calendar day 90th percentile centred on a 5-day window for the base period 1961-1990. The percentage of time for the base period is determined where: TXij > TXin90 ";
                      }else if(x==2&&y=='rx1day'){
                        chart_clim(data," Precip(mm)",' Monthly maximum 1-day precipitation');
                        document.getElementById("des_map").innerHTML = "Monthly maximum 1-day precipitation:Let RRij be the daily precipitation amount on day i in period j. The maximum 1-day value for period j are: Rx1dayj = max (RRij) ";
                      }else if(x==2&&y=='rx5day'){
                        chart_clim(data," Precip(mm)",'   Monthly maximum consecutive 5-day precipitation');
                        document.getElementById("des_map").innerHTML = "Monthly maximum consecutive 5-day precipitation: Let RRkj be the precipitation amount for the 5-day interval ending k, period j.Then maximum 5-day values for period j are: Rx5dayj = max (RRkj) ";
                      }else if(x==1&&y=='su'){
                        chart_clim(data,"days",' Number of summer days');
                        document.getElementById("des_map").innerHTML = "Number of summer days: Annual count of days when TX (daily maximum temperature) > 25 Celsius.Let TXij be daily maximum temperature on day i in year j. Count the number of days where:TXij > 25 Celsius.";
                      }else if(x==1&&y=='fd'){
                        chart_clim(data,"days",' Number of frost days');
                        document.getElementById("des_map").innerHTML = "Number of frost days: Annual count of days when TN (daily minimum temperature) < 0 Celsius.Let TNijbe daily minimum temperature on day i in year j. Count the number of days where:TNij < 0 Celsius.";
                      }else if(x==1&&y=='id'){
                        chart_clim(data,"days",' Number of icing days');
                        document.getElementById("des_map").innerHTML = "Number of icing days: Annual count of days when TX (daily maximum temperature) < 0 Celsius.Let TXijbe daily maximum temperature on day i in year j. Count the number of days where:TXij < 0 Celsius.";
                      }else if(x==1&&y=='tr'){
                        chart_clim(data,"days",' Number of tropical nights');
                        document.getElementById("des_map").innerHTML = "Number of tropical nights: Annual count of days when TN (daily minimum temperature) > 20 Celsius.Let TNijbe daily minimum temperature on day i in year j. Count the number of days where:TNij > 20 Celsius.";
                      }else if(x==1&&y=='gsl'){
                        chart_clim(data,"days",' Growing season length');
                        document.getElementById("des_map").innerHTML = "Growing season length: Annual (1st Jan to 31st Dec in Northern Hemisphere (NH), 1st July to 30th June in Southern Hemisphere (SH)) count between first span of at least 6 days with daily mean temperature TG>5 Celsius and first span after July 1st (Jan 1st in SH) of 6 days with TG<5 Celsius.Let TGij be daily mean temperature on day i in year j.Count the number of days between the first occurrence of at least 6 consecutive days with:TGij > 5 Celsius. and the first occurrence after 1st July (1st Jan. in SH) of at least 6 consecutive days with:TGij < 5 Celsius.  ";
                      }else if(x==1&&y=='wsdi'){
                        chart_clim(data,"days",' Warm spell duration index');
                        document.getElementById("des_map").innerHTML = "Warm spell duration index: Annual count of days with at least 6 consecutive days when TX > 90th percentile Let TXij be the daily maximum temperature on day i in period j and let TXin90 be the calendar day 90th percentile centred on a 5-day window for the base period 1961-1990. Then the number of days per period is summed where, in intervals of at least 6 consecutive days: TXij > TXin90 ";
                      }else if(x==1&&y=='csdi'){
                        chart_clim(data,"days",' Cold spell duration index');
                        document.getElementById("des_map").innerHTML = "Cold spell duration index: Annual count of days with at least 6 consecutive days when TN < 10th percentile Let TNij be the daily maximum temperature on day i in period j and let TNin10 be the calendar day 10th percentile centred on a 5-day window for the base period 1961-1990. Then the number of days per period is summed where, in intervals of at least 6 consecutive days: TNij < TNin10 ";
                      }else if(x==1&&y=='dtr'){
                        //interac_chart(data,"Temperature (°C)",' Daily temperature range');
                        document.getElementById("des_map").innerHTML = "Daily temperature range: Monthly mean difference between TX and TN Let TXij and TNij be the daily maximum and minimum temperature respectively on day i in period j.  If I represents the number of days in j, then: DTR = sum(TXij - TNij)/ I";
                      }else if(x==2&&y=='sdii'){
                        chart_clim(data,"mm/day",' Simple precipitation intensity index');
                        document.getElementById("des_map").innerHTML = "Simple pricipitation intensity index: Let RRwj be the daily precipitation amount on wet days, w (RR ≥ 1mm) in period j. If W represents number of wet days in j, then: sdii = sum(RR)/w";
                      }else if(x==2&&y=='r10mm'){
                        chart_clim(data,"days",' Annual count of days when PRCP ≥ 10mm');
                        document.getElementById("des_map").innerHTML = "Annual count of days when PRCP≥ 10mm: Let RRij be the daily precipitation amount on day i in period j. Count the number of days where: RRij ≥ 10mm ";
                      }else if(x==2&&y=='r20mm'){
                        chart_clim(data,"days",' Annual count of days when PRCP ≥ 20mm');
                        document.getElementById("des_map").innerHTML = "Annual count of days when PRCP≥ 20mm: Let RRij be the daily precipitation amount on day i in period j. Count the number of days where: RRij ≥ 20mm ";
                      }else if(x==2&&y=='rnnmm'){
                        chart_clim(data,"days",' Annual count of days when PRCP ≥ nnmm');
                        document.getElementById("des_map").innerHTML = "Annual count of days when PRCP≥ nnmm, nn is a user defined threshold: Let RRij be the daily precipitation amount on day i in period j. Count the number of days where: RRij ≥ nnmm ";
                      }else if(x==2&&y=='cdd'){
                        chart_clim(data,"days",' Maximum length of dry spell');
                        document.getElementById("des_map").innerHTML = "Maximum length of dry spell, maximum number of consecutive days with RR < 1mm: Let RRij be the daily precipitation amount on day i in period j. Count the largest number of consecutive days where: RRij < 1mm ";
                      }else if(x==2&&y=='cwd'){
                        chart_clim(data,"days",' Maximum length of wet spell');
                        document.getElementById("des_map").innerHTML = "Maximum length of wet spell, maximum number of consecutive days with RR ≥ 1mm: Let RRij be the daily precipitation amount on day i in period j. Count the largest number of consecutive days where: RRij ≥ 1mm ";
                      }else if(x==2&&y=='r95ptot'){
                        chart_clim(data,"Precip(mm)",' Annual total PRCP when RR > 95p');
                        document.getElementById("des_map").innerHTML = "Annual total PRCP when RR > 95p. Let RRwj be the daily precipitation amount on a wet day w (RR ≥ 1.0mm) in period i and let RRwn95 be the 95th percentile of precipitation on wet days in the 1961-1990 period. If W represents the number of wet days in the period, then: R95pj = sum(RRwj) where RRwj > RRwn95";
                      }else if(x==2&&y=='r99ptot'){
                        chart_clim(data,"Precip(mm)",' Annual total PRCP when RR > 99p');
                        document.getElementById("des_map").innerHTML = "Annual total PRCP when RR > 99p: Let RRwj be the daily precipitation amount on a wet day w (RR ≥ 1.0mm) in period i and let RRwn99 be the 99th percentile of precipitation on wet days in the 1961-1990 period. If W represents the number of wet days in the period, then: R99pj = sum(RRwj) where RRwj > RRwn99";
                      }else if(x==2&&y=='prcptot'){
                        chart_clim(data,"Precip(mm)",' Annual total precipitation in wet days');
                        document.getElementById("des_map").innerHTML = "Annual total precipitation in wet days: Let RRij be the daily precipitation amount on day i in period j. If I represents the number of days in j, then : prcptot = sum(RRij)";
                      };
          }
        //var su = {{SU|safe}}
        //chart_clim(su,"days",' Number of summer days');
        //document.getElementById("des_map").innerHTML = "Number of summer days: Annual count of days when TX (daily maximum temperature) > 25 Celsius.Let TXij be daily maximum temperature on day i in year j. Count the number of days where: TXij > 25 Celsius.";
        function label1Visible() {
            var Label1 = document.getElementById("map3");
            Label1.className = "Years66";
        }
        $( "select" ).change(function (e) {
              e.preventDefault();
              var csrftoken = getCookie('csrftoken');
              //label1Visible()
              var index = $("#cindex").val();
              var variable = $( "#vars" ).val();
              var ind = carsAndModels[variable][index];
              //document.getElementById("tool").innerHTML = ind;

              $.ajax({
                     url : window.location.href, // the endpoint,commonly same url
                     type : "POST", // http method
                     data : { csrfmiddlewaretoken : csrftoken, 
                     path_file : ind
                   }, // data sent with the post request

                   // handle a successful response
                   success : function(json) {
                        console.log(json); // another sanity check
                        //On success show the data posted to server as
                                 data(json,ind,variable);
                                    //alert('Hi '+json['path_file']);
                   },

                   // handle a non-successful response
                   error : function(xhr,errmsg,err) {
                        console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                   }
               });
             
        });
  
        var customTimeFormat = d3.time.format.multi([
            [".%L", function(d) { return d.getMilliseconds(); }],
            [":%S", function(d) { return d.getSeconds(); }],
            ["%I:%M", function(d) { return d.getMinutes(); }],
            ["%I %p", function(d) { return d.getHours(); }],
            ["%a %d", function(d) { return d.getDay() && d.getDate() != 1; }],
            ["%b %d", function(d) { return d.getDate() != 1; }],
            ["%b", function(d) { return d.getMonth(); }],
            ["%Y", function() { return true; }]
        ]);
         
         var win_width = window.innerWidth;

        function chart_clim(data_plot,name,ind) {
              chart(data_plot,name,ind);
          $(window).resize(function() {
              chart(data_plot,name,ind);
          });
         
              
        }
        function chart(data_plot,name,ind) {
           d3.select("#map").selectAll("svg").remove();
             d3.select("#map2").selectAll("svg").remove();
             d3.select("#map3").selectAll("svg").remove();
            //document.getElementById("map_p").innerHTML = window.innerWidth;
            
            //var grap_2 = document.getElementById( "map2" );
            //grap_2.style.backgroundColor = "#FFFFFF";
            //grap_2.style.border = "none";

            var parseD = d3.time.format("%Y").parse;
            var data = data_plot.map(function(d) {
               //document.getElementById("demo").innerHTML = d[0];
               return {
                  date: parseD(d[0]),
                  close: d[1]
               };
              
             });
           
            var breakPoint = 930;


            var margin = {},margin2 = {};

            margin.top = 30;
            margin.bottom = 20;
            margin.right =  40;
            margin.left =40;

            margin2 = {top: 3, right: 40, bottom: 20, left: 40};
                 

            var width_size = (window.innerWidth/3)+30;
                 
            var width = width_size - margin.left - margin.right;
            var height = $('#map').height()-margin.top - margin.bottom;

            var width2 = $('#tool_area3').width() - margin2.left - margin2.right;
            var height2 = 40 - margin2.top - margin2.bottom;
          
            
            var x = d3.time.scale().range([0, width]);
            var y = d3.scale.linear().range([height, 0]);

            var x2 = d3.time.scale()
            .domain(d3.extent(data, function(d) { return d.date; }))
            .range([0, width]);

            var y2 = d3.scale.linear().range([height2, 0]);
            var xAxis2 = d3.svg.axis().scale(x2).orient("bottom");
          
            var xAxis = d3.svg.axis().scale(x).orient("bottom").tickFormat(d3.time.format("%Y"));

            var scale_brush = 0;

            if(window.innerWidth <= 1109 && window.innerWidth > 937 ) {
              xAxis.ticks(d3.time.years, 15)
              scale_brush = 15;
            }
            else if( window.innerWidth <= 937){
              xAxis.ticks(d3.time.years, 20)
              scale_brush = 20;
            }else {
              xAxis.ticks(d3.time.years, 10)
              scale_brush = 10;
            }


            var yAxis = d3.svg.axis().scale(y).orient(window.innerWidth < breakPoint ? 'right' : 'left');

            var brush = d3.svg.brush()
            .x(x2)
            .extent(d3.extent(data, function(d) { return d.date; }))
            .on("brushend", brushended);

            var line = d3.svg.line()
                //.interpolate("basis")
                .x(function(d) { return x(d.date); })
                .y(function(d) { return y(d.close); });

            var line2 = d3.svg.line()
                //.interpolate("basis")
                .x(function(d) { return x2(d.date); })
                .y(function(d) { return y2(d.close); });


            var svg = d3.select("#map").append("svg")
             .attr("width", width + margin.left + margin.right)
             .attr("height", height + margin.top + margin.bottom);

            var svg2 = d3.select("#map3").append("svg")
             .attr("width", width2 + margin2.left + margin2.right)
             .attr("height", height2 + margin2.top + margin2.bottom);
            
            svg.append("defs").append("clipPath")
             .attr("id", "clip")
             .append("rect")
             .attr("width", width)
             .attr("height", height);
            
            var focus = svg.append("g")
             .attr("class", "focus")
             .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
           
            var context = svg2.append("g")
             .attr("class", "context")
             .attr("transform", "translate(" + margin2.left + "," + margin2.top + ")");
          

            var zoom = d3.behavior.zoom().on("zoom", draw);

            var rect = svg.append("svg:rect")
              .attr("class", "pane")
              .attr("id", "clip-rect")
              .attr("x", "0")
              .attr("y", "0")
              .attr("width", width)
              .attr("height", height)
              .attr("transform", "translate(" + margin.left + "," + margin.top + ")")
              .call(zoom);
           
            
             
             x.domain(d3.extent(data, function(d) { return d.date; }));
             y.domain(d3.extent(data, function(d) { return d.close; }));

             x2.domain(x.domain());
             y2.domain(y.domain());

            focus.append("path")
              .datum(data)
              .attr("class", "line")
              .attr("d", line(data))
              .attr("clip-path","url(#clip)");

            focus.append("g")
               .attr("class", "x axis")
               .attr("transform", "translate(0," + height + ")")
               .call(xAxis);

            focus.append("g")
               .attr("class", "y axis")
               .call(yAxis);

            /*focus.selectAll("dot")
                .data(data)
                .enter().append("circle")
                .attr("r", 2.5)
                .style("fill", "#005580")    
                .style("opacity", .8)      // set the element opacity
                .style("stroke", "#f93")    // set the line colour
                .style("stroke-width", 0.5) 
                .attr("cx", function(d) { return x(d.date); })
                .attr("cy", function(d) { return y(d.close); });*/

            focus.append("text")
               //.attr("transform", "rotate(-90)")
               .attr("x", 1)
               .attr("y",-7 )
               .style("font-family", "sans-serif")
               .style("fill", "#e60000")
               .style("text-anchor", "middle")
               .text(name);

            focus.append("text")
               .attr("x", width+20)
               .attr("y", height+5 )
               .style("font-family", "sans-serif")
               .style("fill", "#e60000")
               .style("text-anchor", "middle")
               .text("month");

            focus.append("text")
               .attr("x", (width/2)+8)
               .attr("y", -12 )
               .style("fill", "#000033")
               .style("font-family", "sans-serif")
               .style("text-anchor", "middle")
               .attr("font-size", "11px")
               .text(ind);

            context.append("g")
             .attr("class", "x grid")
             .attr("transform", "translate(0," + height2 + ")")
             .call(d3.svg.axis()
                .scale(x2)
                .orient("bottom")
                .ticks(d3.time.years, 5)
                .tickSize(-height2)
                .tickFormat(""))
             .selectAll(".tick")
             .classed("minor", function(d) { return d.getHours(); });

            context.append("path")
              .datum(data)
              .attr("class", "line")
              .attr("d", line2(data));


            context.append("g")
             .attr("class", "x axis")
             .attr("transform", "translate(0," + height2 + ")")
             .call(d3.svg.axis()
               .scale(x2)
               .orient("bottom")
               .ticks(d3.time.years,scale_brush)
               .tickPadding(0))
             .selectAll("text")
             .attr("x", 6)
             .style("text-anchor", null)
             .call(xAxis2);

           context.append("g")
            .attr("class", "brush")
            .call(brush)
            .call(brush.event)
            .selectAll("rect")
            .attr("height", height2);
             function brushended() {
           
            var extent0 = brush.extent(),
                extent1 = extent0.map(d3.time.year.round);
                //cal_year(extent1,data_plot,ind,name);
         
            if (!d3.event.sourceEvent){
                //cal_year(extent1,data_plot,ind,name);
              /*focus.append("text")
               .attr("x", (width/2) )
               .attr("y", -10 )
               .style("fill", "#000033")
               .style("font-family", "sans-serif")
               .style("text-anchor", "middle")
               .attr("font-size", "13px")
               .text(ind+" in"+extent1[0].getFullYear()+"-"+extent1[1].getFullYear());*/
             
          return;
            } // only transition after input

            // if empty when rounded, use floor & ceil instead
            if (extent1[0] >= extent1[1]) {
                extent1[0] = d3.time.year.floor(extent0[0]);
                extent1[1] = d3.time.year.ceil(extent0[1]);
             }
            x.domain(brush.empty() ? x2.domain() : brush.extent());
            
            d3.select(this).transition()
              .call(brush.extent(extent1))
              .call(brush.event)
              .call(endAll, function () {
               
              });
             
            zoom.x(x);
          }

          function endAll (transition, callback) {
            var n;

            if (transition.empty()) {
                callback();
            }
            else {
                n = transition.size();
                transition.each("end", function () {
                    n--;
                    focus.select(".x.axis").call(xAxis);
                    if (n === 0) {
                        focus.select(".line").attr("d", line(data));
                        //focus.select(".dot");
                        callback();
                    }
                });
            }
          }
          function draw() {
          }

        }
       


  </script>

        <footer>
            <!-- D3.js -->
            <script src="http://d3js.org/d3.v3.min.js" charset="utf-8" type="text/javascript"></script>
            <!-- Json -->
            <script src="http://d3js.org/topojson.v1.min.js" type="text/javascript"></script>
            <!-- D3 geo projection -->
            <script src="http://d3js.org/d3.geo.projection.v0.min.js" type="text/javascript"></script>

            <!-- tile.js -->
            <script src="http://bl.ocks.org/emeeks/raw/f3105fda25ff785dc5ed/tile.js" type="text/javascript">
            </script>
            <script src="http://bl.ocks.org/emeeks/raw/f3105fda25ff785dc5ed/d3.quadtiles.js" type="text/javascript">
            </script>
            <script src="http://bl.ocks.org/emeeks/raw/f3105fda25ff785dc5ed/d3.geo.raster.js" type="text/javascript">
            </script>
            <!-- D3 carto map -->
            <script src="https://rawgit.com/emeeks/d3-carto-map/master/d3.carto.map.js" type="text/javascript">
            </script>
            <script src="http://d3js.org/colorbrewer.v1.min.js" charset="utf-8" type="text/javascript"></script>
        </footer>
  </body>
</html>