{% extends 'base.html' %}
{% block lnk %}
  <li><a class="active" href="/">Home</a></li>
  <li><a href="item_add/">item_add</a></li>
  <li><a href="plot/">Plot</a></li>
  <li><a href="/">Services</a></li>
  <li><a href="order/">Order</a></li>
{% endblock %}
{% block content %}
<h2>Welcome to <span style="font-weight:bold; color:#B07E13;">Climate Change</span></h2>
      <blockquote> โปรเจคของเรา<br />
      สามารถดาวน์โหลดได้ที่ <a href="https://bitbucket.org/nuyuyii/testpro">backup bitbucket</a>.</blockquote>
      <p><img class="myborder" src="images/leaf.jpg" alt="foto here"/>........ </p>
{% endblock %}
