{% extends 'base.html' %}
{% block meta %}
    <title>Map Display</title>

    <script src="https://d3js.org/d3.v4.min.js"></script>

    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
{% endblock %}

{% block lnk %}
        <li><a href="../">Home</a></li>
        <li><a href="../item_add">item_add</a></li>
        <li><a class="active" href="/plot">Plot</a></li>
        <li><a href="../">Services</a></li>
        <li><a href="../order">Order</a></li>
{% endblock %}
{% block You_Are_Here %}
&#187;
<a href="/plot">Plot</a>
{% endblock %}
{% block plot %}
<h2>Welcome to <span style="font-weight:bold; color:#B07E13;"> Plot Grape Climate Change</span></h2>
<p id="demo">Click the button to change the text in this paragraph.</p>
<div class="container_12">
  <article class="grid_8">
    <div class="page1-box3"> 
      <div id="map" style="position:relative; left: 20px; width:700px; height:400px; border:1px solid #000;">
      <span id="info" style="position:absolute; left:15px; bottom:5px; color:#000; z-index:50;">
      </span>
      </div>
    </div>
  </article>
  <!-- bar -->
  <article class="grid_3">
    <div class="page1-box3"> 
      <div id="tool" style="position:relative;width:150px; height:50px; ">
        <select id="cars">
          <option value="temp">Air Temperature</option>
          <option value="precip">Precipitation </option>
        </select>
      </div>
    </div>
  </article>

  <article class="grid_6">
    <div class="page1-box3"> 

    </div>
  </article>

  <article class="grid_12">
    <div class="page1-box2">
      <input type="hidden" id="myVar" name="variable" value="{{ lat }}">
      <input type="hidden" id="myVar2" name="variable" value="{{ tem }}">
      <div style="position:relative; width:500px; height:500px;">
        <div class="jumbotron" style="position:absolute; right:0; width:500px; height:500px;">
          <svg id="visualisation" width="900" height="500"></svg>
        </div>
      </div>
    </div>
  </article>

</div>


<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="jquery-1.12.4.min.js"></script>
<script>
        var data = {{tem|safe}}
	//var myVar1 = document.getElementById("myVar2").value;
	var lat_t = {{lat|safe}}
        var max_t = Math.max.apply(Math, data);
        var min_t = Math.min.apply(Math, data);
        var lat_p = []
       
        lat_p[0] = lat_t[0]
        lat_p[1] = lat_t[(lat_t.length)/2]
        lat_p[2] = lat_t[lat_t.length-1]
        var dat = {{date|safe}}

        /*$(document).ready(
              function(){
		var x = $('#cars').val();
		document.getElementById("demo").innerHTML = x;
         });*/      

        //var x = document.getElementById("cars").selectedIndex;
        
        //document.getElementById("demo").innerHTML = Math.max.apply(Math, lat_t);
        //document.getElementById("demo").innerHTML = dat;

        function InitChart() {
			var margin = {top: 100, right: 100, bottom: 100, left: 100},
			    width = 600 - margin.left - margin.right,
			    height = 500 - margin.top - margin.bottom;

			var x = d3.scale.linear()
			    .domain([-88.93, Math.max.apply(Math, lat_t)])
			    .range([0, width]);

			var y = d3.scale.linear()
			    .domain([min_t, max_t])
			    .range([height, 0]);
		
			var line = d3.svg.area()
				.x(function(d,i) { 
			
						return (x(i)-((88.93*2)+(8.93*2)+(0.93*2))); 
				})
				.y(function(i) { 
			
						return y(i); 
				})
				.interpolate("basis");

		        var yAxisLeft = d3.svg.axis()
			    .scale(y)
			    .ticks(4)
			    .orient("left")
                            .innerTickSize(-(width+10))
			    .outerTickSize(0)
			    .tickPadding(10);
		
			var xAxis = d3.svg.axis()
			    .scale(x)
			    .orient("bottom")
                            .innerTickSize(-height)
			    .outerTickSize(0)
			    .tickPadding(10);

                        var div = d3.select("#visualisation").append("div")	
			    .attr("class", "tooltip")				
			    .style("opacity", 0);

			var svg = d3.select("#visualisation").append("svg")
			    .attr("width", width + margin.left + margin.right)
			    .attr("height", height + margin.top + margin.bottom)
			    .append("g")
			    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

                        svg.append("rect")
			    .attr("width", width+10)
			    .attr("height", height)
			    .attr("fill", "#ffffe6");

			svg.append("g")
			    .attr("class", "y axis")
			    .attr("transform", "translate(-25,0)")
			    .call(yAxisLeft);

			svg.append("g")
			    .attr("class", "x axis")
			    .attr("transform", "translate(0," + (height) + ")")
                            .call(xAxis);

			svg.append("path").attr("d", line(data));

                      svg.append("text")
			    .attr("x", -20 )
			    .attr("y", -10 )
                            .style("font-family", "sans-serif")
                            .style("fill", "#000080")
			    .style("text-anchor", "middle")
			    .text("Temperature °C");

                        svg.append("text")
			    .attr("x", width+15 )
			    .attr("y", height +5 )
                            .style("font-family", "sans-serif")
                            .style("fill", "#000080")
			    .style("text-anchor", "middle")
			    .text("Lats");

			svg.append("text")
			    .attr("x", width/2 )
			    .attr("y", -40 )
                            .style("fill", "#000033")
			    .style("font-family", "sans-serif")
                            .style("text-anchor", "middle")
                            .attr("font-size", "15px")
			    .text("Air temperature in "+dat);

                   
                    // Add the scatterplot
		    svg.selectAll("dot")	
			.data(data)			
		        .enter().append("circle")								
			.attr("r", 2)		
			.attr("cx", function(d,i) { return (x(i)-((88.93*2)+(8.93*2)+(0.93*2))); })		 
			.attr("cy", function(i) { return y(i); })		
		
         }
         InitChart();

      // map global
      var map2;
      function initMap() {
        var uluru = {lat: -25.363, lng: 131.044};
        var map2 = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: uluru
        });
        var contentString = 
            '<div id="siteNotice">'+
            '</div>'+
            '<h1 id="firstHeading" class="firstHeading">ThaiLand</h1>'+
            '<div id="bodyContent">'+
            '<p><b>Uluru</b>,..................</p>'+
            '<p>Attribution: Uluru, '+
            '<a href="https://en.wikipedia.org/w/index.php?title=Uluru&oldid=297882194">'+
            'https://en.wikipedia.org/w/index.php?title=Uluru</a> '+
            '(last visited June 22, 2009).</p>'+
            '</div>';

        var infowindowP = new google.maps.InfoWindow({
          content: contentString
        });

        var marker = new google.maps.Marker({
          position: uluru,
          map: map2,
          title: 'Uluru (Ayers Rock)'
        });
        marker.addListener('click', function() {
          infowindowP.open(map, marker);
        });

	var infowindowI = new google.maps.InfoWindow();
 	/*for (var i = 0; i < arraylng.length-1; i++) {
    		var markeri = new google.maps.Marker({
      		position: new google.maps.LatLng(arraylng[i], arraylat[i]),
     		map: map2
    		});

    		makeInfoWindowEvent(map, infowindowI, "test" + i, markeri);

    		markers.push(markeri);
 		}
	}*/


function makeInfoWindowEvent(map, infowindow, contentString, marker) {
  google.maps.event.addListener(marker, 'click', function() {
    infowindow.setContent(contentString);
    infowindow.open(map, marker);
  });
}

      }

      
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_2OcNffK1GNtFkktwWvtdtiGtDcJ6aS0&callback=initMap"
    async defer></script>


{% endblock %}
